@charset UTF-8;
/* BASE */
html {height: 100%; width: 100%; -webkit-text-size-adjust: 100%} /* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
body {min-height: 100%; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; text-rendering:optimizeLegibility; } /* Improve default text rendering, handling of kerning pairs and ligatures */

/* TYPOGRAPHY */
/* 16px base font size with 150% (24px) friendly, unitless line height and margin for vertical rhythm */
/* Leading 150% of font */
/* Font-size percentage is based on 16px browser default size, actually setting 10px font / 1.5 em line height for easy em calculation*/
body, button, input, select, textarea {font: 62.5%/1.5 futura-pt, Futura, "Century Gothic", AppleGothic, sans-serif; color: #333} /* IE7 and older can't resize px based text */

body{
 margin:0 !important;
 padding:0;
 overflow: auto;
 overflow-x: hidden;
 font-size:100%;
 background: url("../images/wild_oliva.png") repeat top left;
}

a img
{
	border: none;
}

div.clear
{
	clear:both;
}

a {
	color: #C08;
}

a.button {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px;
    text-decoration: none;
}

a.button span {
    background: transparent url('bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none;
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px;
}
input[type='text']:hover 
{
	-moz-box-shadow: 0px 0px 4px #aee5fb;
	-webkit-box-shadow: 0px 0px 4px #aee5fb;
	box-shadow: 0px 0px 4px #aee5fb;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out  
}
input[type='text']
{
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}

fieldset
{
/*
	background: #C7B299;
background-image: linear-gradient(bottom, #C7B299 18%, #EEEEEE 54%, #C7B299 100%);
background-image: -o-linear-gradient(bottom, #C7B299 18%, #EEEEEE 54%, #C7B299 100%);
background-image: -moz-linear-gradient(bottom, #C7B299 18%, #EEEEEE 54%, #C7B299 100%);
background-image: -webkit-linear-gradient(bottom, #C7B299 18%, #EEEEEE 54%, #C7B299 100%);
background-image: -ms-linear-gradient(bottom, #C7B299 18%, #EEEEEE 54%, #C7B299 100%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.18, #C7B299),
	color-stop(0.54, #EEEEEE),
	color-stop(1, #C7B299)
	*/
	background: #46eeee;
background-image: linear-gradient(bottom, #46eeee 18%, #EEEEEE 54%, #46eeee 100%);
background-image: -o-linear-gradient(bottom, #46eeee 18%, #EEEEEE 54%, #46eeee 100%);
background-image: -moz-linear-gradient(center bottom , #8BAADA 18%, #EEEEEE 54%, #5DAEEB 100%);
background-image: -webkit-linear-gradient(bottom, #46eeee 18%, #EEEEEE 54%, #46eeee 100%);
background-image: -ms-linear-gradient(bottom, #46eeee 18%, #EEEEEE 54%, #46eeee 100%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.18, #46eeee),
	color-stop(0.54, #EEEEEE),
	color-stop(1, #46eeee)	
);	
}

span.tooltip
{
	display:none; float:left; position: absolute; top: 40px; left:330px;
}

#login_form
{
	background: #13bEEd;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
legend
{
font-size: 20px;
color: #204152;
font-weight: bold;
text-shadow: -2px -1px 1px #EEE;
/*text-shadow: 2px 1px 1px #AFD;*/
}

#submit_button
{
border: 1px solid #AED0EA;
background: #D7EBF9 url(images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x;
font-weight: bold;
color: #2779AA;
-moz-border-radius-bottomright: 6px;
-webkit-border-bottom-right-radius: 6px;
-khtml-border-bottom-right-radius: 6px;
border-bottom-right-radius: 6px;
font-size: 14px;
}

#gbox_media
{
	/* display: inline-block; */
	/*border: 3px groove #454545;*/
	border: 4px double #46EEEE;
}

#searchmodfbox_media
{
	/*border: 3px groove #454545;*/
	border: 4px double #46EEEE;
}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 60px;
	clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

#errorMessage label
{
	font-size: 12px;
	color: #204152;
}